<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="home">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  <button mat-button class="ml-auto" aria-label="Example icon-button with heart icon" routerLink="login">
      Login
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
